$color-primary: #09adb6bb;
$color-primary-light: #aad3e0;
$color-primary-dark: #045f6b;

$color-secondary: #9b4980;
$color-secondary-dark: #61355f;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
